// $theme-colors: (
//   "primary": #004445,
//   "danger": #feb70d,
//   "success": #6f42c1,
//   "info": #dc3545,
//   "secondary": #17a2b8,
//   "danger-light": #ffffc0
// );

// $primary: map-get(
//   $map: $theme-colors,
//   $key: primary
// );
// $secondary: map-get(
//   $map: $theme-colors,
//   $key: danger
// );

@import "../node_modules/bootstrap/scss/bootstrap.scss";

*{
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

// .tab-pane{
//     height: 56px;
// }

.map {
    height: calc(100vh - 56px - 38px - 56px);
    width: 100%;
  }

/* Developing for iphone - need to show collapsed content on mobile */
@media (min-width: 768px) {
.collapse.dont-collapse-sm {
    display: block;
    height: 56px;
    visibility: visible;
}
}

  /* Tools */
  .map-tools{
      cursor: pointer;
  }
  .map-tools:hover{
    color: orange;
  }